<nav class="bg-gradient-to-b from-blue-900 to-blue-600 shadow-md w-full sticky top-0">
  <div class="max-w-screen-2xl flex flex-wrap items-center justify-between md:justify-start mx-auto p-4 pb-0">
    <a href="/" class="flex items-center mb-4">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">SUT-SYSTEM2</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center mb-4 text-sm text-white-500 rounded-lg md:hidden hover:bg-white-100 focus:outline-none focus:ring-2 focus:ring-white-200 text-gray-400 hover:bg-white-700 focus:ring-white-600"
            aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto md:mb-4 md:ml-12" id="navbar-default">
      <ul class="font-medium flex flex-col p-2 bg-transparent text-center border-t-2 border-t-white md:flex-row md:space-x-4 md:mt-0 md:p-0 md:border-t-0">
        {% for item in header_context.nav.content %}
        {% set link = get_nav_link(item) %}
        <li>
          <a href="{{ link }}"
             class="
                  block py-2 pl-3 pr-4
                  {% if current_url.strip('/') == link.strip('/') %}
                  text-white
                  {% else %}
                  text-gray-400
                  {% endif %}
                  hover:text-white
               "
          >{{ item.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>