{% macro create_blank(people_data) %}
<div
    {% if people_data.id %}
    id="{{ people_data.id }}"
    class="scrollable-section people-section"
    {% endif %}
>

  <!-- <div class="text-primary font-bold mb-6 text-3xl">{{ people_data.title }}</div> -->

  {% for role in people_data.people_data %}
  <div class="bg-gray-100 border-l-4 border-blue-500 rounded-lg shadow-md p-6 mb-6">
    <div class="text-primary font-bold mb-4 text-2xl">{{ role.display_name }}</div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8">
      {% for person in role.people %}
      <div class="bg-white rounded-2xl shadow-lg hover:shadow-xl transition-shadow duration-300 text-center p-4">
        

          <img src="{{ static_or_abs_link(person.pic) }}" alt="{{ person.name }}"
               class="w-32 h-32 mx-auto rounded-full object-cover border-4 border-gray-300">

          <div class="mt-3">
            <h2 class="text-lg font-bold text-gray-800">{{ person.name }}</h2>
            {% if person.role %}
            <p class="text-sm text-gray-500">{{ person.role }}</p>
            {% endif %}
          </div>

        {% if person.website %}
        </a>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}

</div>
{% endmacro %}